<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">
            org.hibernate.dialect.PostgreSQL9Dialect
        </property>

        <property name="hibernate.connection.driver_class">
            org.postgresql.Driver
        </property>

        <property name = "hibernate.connection.url">
            jdbc:postgresql://localhost:5432/hibernate_db
        </property>

        <property name = "hibernate.connection.username">
            postgres
        </property>

        <property name = "hibernate.connection.password">
            marek
        </property>

        <property name = "log4j.logger.org.hibernate.type">
            trace
        </property>
        <!-- List of XML mapping files -->
        <property name="hbm2ddl.auto">create</property>

<!--        <property name="log4j.appender.stdout=org.apache.log4j.ConsoleAppender"></property>-->
<!--        <property name="log4j.appender.stdout.Target">System.out</property>-->
<!--        <property name="log4j.appender.stdout.layout">org.apache.log4j.PatternLayout</property>-->
<!--        <property name="log4j.appender.stdout.layout.ConversionPattern">%d{HH:mm:ss,SSS} %-5p [%c] - %m%n</property>-->
<!--        <property name="log4j.rootLogger">info, stdout</property>-->
<!--        # basic log level for all messages-->
<!--        <property name="log4j.logger.org.hibernate">info</property>-->
<!--        # SQL statements and parameters-->
<!--        <property name="log4j.logger.org.hibernate.SQL">debug</property>-->
<!--        <property name="log4j.logger.org.hibernate.type.descriptor.sql">trace</property>-->


    </session-factory>

</hibernate-configuration>
